*
{   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #14204A;
}

.interface
{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0 auto;  
}

header
{
    max-width: 1480px;
    margin-left: 40px;
    padding-top: 20px;
}

header a 
{
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

form
{
    background-color: #1B1816;
    width: 450px;
    color: #fff;
    padding: 15px 40px 40px 40px;
    border-radius: 20px;
}

span
{
    color: #626AF1;
}

input[type="email"],
input[type="password"]
{
  width: 100%;
  padding: 4px;
  margin: 10px 0 5px 0;
  border: 2px solid #626AF1;
  border-radius: 3px;
  box-sizing: border-box;
}

form a
{
    text-decoration: none;
    width: 100%;
    color: #626AF1;
    display: flex;
    justify-content: end;
    font-size: small;
}

button
{
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #626AF1;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    transition: 0.5s;
}

button:hover
{
    transform: scale(1.01);
}